/* Untuk CSS Banner */
.banner {
    /* height: 80vh; */
    /* background-color: blue; */
}

.judul1{
    font-size: 39.9968px;
    font-weight: 700;
}

.paragraft1{
    font-size: 16px;
}
        
.banner-content {
    height: 100%;
    /* color: black; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* border: solid;  */
}

.text1 {
    /* border: solid; */
    /* color: pink; */
    text-align: justify;
}

.gambar1{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid; */
}

.gambar{
    width: 300px;
}

.gambar_banner{
}


.message{
    /* border: solid;
    height: 80vh; */
}


/*  */

#MainMenu {visibility: hidden;}
footer {visibility: hidden;}


.st-emotion-cache-giotri, .e1nzilvr2 {
    display: none;
}

